Repository SELab-2/OSOC-4, pull requests merged in 2022-05, with the labels that each got.

#384 Project details
  frontend_nextjs/Components/projects/AdminCard.js
  frontend_nextjs/Components/projects/EditableDiv.js
  frontend_nextjs/Components/projects/ParticipationCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/Components/projects/SkillCard.js
  frontend_nextjs/Components/projects/SkillSelector.js
  frontend_nextjs/pages/_app.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/public/assets/plus.svg
  frontend_nextjs/styles/projectDetails.css
  frontend_nextjs/styles/projects.css
  frontend_nextjs/styles/requiredSkillSelector.css
  frontend_nextjs/utils/string.js
Labels: review, frontend, Approved

#398 Make navbar responsive and pretty
  frontend_nextjs/Components/Auth.js
  frontend_nextjs/Components/NavHeader.js
  frontend_nextjs/public/favicon.ico
  frontend_nextjs/public/favicon.png
  frontend_nextjs/styles/index.css
  frontend_nextjs/styles/navheader.css
Labels: review, frontend

#399 make Skill optional in participation
  backend/app/models/participation.py
Labels: review

#403 make coach default & removed no role
  backend/app/models/user.py
  backend/app/tests/test_routers/test_user_invites.py
  backend/app/tests/test_routers/test_users.py
  backend/app/tests/utils_for_tests/UserGenerator.py
  frontend_nextjs/Components/settings/UserTr.js
Labels: review

#400 remove goals attribute from Project
  backend/app/models/project.py
  backend/app/routers/ddd.py
  backend/app/tests/test_routers/test_projects.py
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
Labels: review

#395 Bug/393
  backend/app/routers/auth.py
  backend/app/routers/users.py
  frontend_nextjs/Components/settings/ChangeName.js
  frontend_nextjs/Components/settings/ChangePassword.js
  frontend_nextjs/pages/settings.js
  frontend_nextjs/utils/ApiClient.js
Labels: review, backend

#406 Bug/396
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/package.json
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/styles/projects.css
  frontend_nextjs/styles/requiredSkillSelector.css
Labels: review, frontend

#418 Reconnect websocket
  frontend_nextjs/Components/Auth.js
Labels: review, frontend

#412 edit questiontag bugfix
  frontend_nextjs/Components/settings/QuestionTag.js
Labels: review

#385 Backend tests
  .gitignore
  backend/app/api.py
  backend/app/crud.py
  backend/app/exceptions/edition_exceptions.py
  backend/app/routers/reset_password.py
  backend/app/routers/students.py
  backend/app/routers/user_invites.py
  backend/app/routers/users.py
  backend/app/tests/test_base.py
  backend/app/tests/test_routers/test_auth.py
  backend/app/tests/test_routers/test_reset_password.py
  backend/app/tests/test_routers/test_students.py
  backend/app/tests/test_routers/test_user_invites.py
  backend/app/tests/test_routers/test_users.py
  backend/app/tests/test_utils/test_emailsender.py
  backend/app/utils/checkers.py
  backend/app/utils/websocketmanager.py
  info/user_manual.md
  test-docker-compose.yml
Labels: review, backend

#422 CSS fixes
  frontend_nextjs/Components/select_students/SuggestionPopUpWindow.js
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/pages/invites/[invitekey].js
  frontend_nextjs/pages/resetpassword/[resetkey].js
  frontend_nextjs/styles/filters.css
  frontend_nextjs/styles/login.css
  frontend_nextjs/styles/manageusers.css
  frontend_nextjs/styles/projects.css
  frontend_nextjs/styles/select-students.css
Labels: review, frontend

#424 fix list update dashboard
  .DS_Store
  frontend_nextjs/pages/index.js
Labels: review, frontend

#413 Feature/387
  .DS_Store
  frontend_nextjs/Components/projects/AddStudentModal.js
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/Components/projects/SkillCard.js
  frontend_nextjs/Components/projects/SkillSelector.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/utils/skillselector.js
Labels: review, frontend

#436 make login & reset passwd a form
  frontend_nextjs/pages/login.js
Labels: review

#442 update user manual
  info/screenshots/invite_users.png
  info/screenshots/manageusers.png
  info/screenshots/students_list_after.png
  info/screenshots/students_list_before.png
  info/screenshots/students_list_firstlang_config.png
  info/user_manual.md
Labels: review

#448 close button stays in right top corner
  frontend_nextjs/Components/select_students/StudentDetails.js
  frontend_nextjs/styles/select-students.css
  frontend_nextjs/styles/studentDetails.css
Labels: review, frontend

#447 Add alumni and student coach questiontag (testdata & frontend)
  backend/app/tests/utils_for_tests/QuestionAnswerGenerator.py
  frontend_nextjs/Components/select_students/GeneralInfo.js
  frontend_nextjs/Components/select_students/StudentDetails.js
  frontend_nextjs/Components/select_students/StudentListelement.js
  frontend_nextjs/public/assets/alumni-svgrepo-com.svg
  frontend_nextjs/styles/select-students.css
Labels: review, frontend, backend tested, backend

#454 Responsiveness improvements
  frontend_nextjs/Components/select_students/EmailBottomBar.js
  frontend_nextjs/Components/select_students/GeneralInfo.js
  frontend_nextjs/Components/select_students/SearchSortBar.js
  frontend_nextjs/Components/select_students/StudentDetails.js
  frontend_nextjs/Components/select_students/StudentListAndFilters.js
  frontend_nextjs/pages/select-students.js
  frontend_nextjs/public/assets/show-filter-svgrepo-com.svg
  frontend_nextjs/styles/emailStudents.css
  frontend_nextjs/styles/filters.css
  frontend_nextjs/styles/select-students.css
  frontend_nextjs/styles/settings.css
  frontend_nextjs/styles/studentDetails.css
  frontend_nextjs/styles/studentListelement.css
Labels: review, frontend

#461 students to select students bugfix
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/settings/ManageUsers.js
Labels: review

#463 Made table in manage users (settings) responsive
  frontend_nextjs/Components/settings/ManageUsers.js
Labels: review, frontend

#453 Make default e-mail pop-up
  frontend_nextjs/Components/email-students/DefaultEmail.js
  frontend_nextjs/Components/settings/CreateEdition.js
  frontend_nextjs/Components/settings/DefaultEmails.js
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/settings/SettingCards.js
  frontend_nextjs/pages/_app.js
  frontend_nextjs/styles/defaultEmail.css
  frontend_nextjs/styles/emailStudents.css
  frontend_nextjs/styles/login.css
  frontend_nextjs/styles/settingcards.css
Labels: review, frontend

#451 Implementation of the delete student endpoint
  backend/app/crud.py
  backend/app/models/student.py
  backend/app/routers/students.py
  backend/app/tests/test_routers/test_students.py
Labels: review, backend tested, backend

#452 Send invite button
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/styles/settings.css
Labels: review, frontend, changes requested

#467 Implement websockets for participations
  backend/app/models/participation.py
  backend/app/models/project.py
  backend/app/routers/participations.py
  backend/app/routers/projects.py
  frontend_nextjs/Components/projects/AddStudentModal.js
  frontend_nextjs/Components/projects/ParticipationCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/package.json
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend, backend

#474 Removes the almost identical EmailStudentListelement
  frontend_nextjs/Components/email-students/EmailStudentListelement.js
  frontend_nextjs/Components/students/GeneralInfo.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/Components/students/StudentListelement.js
  frontend_nextjs/Components/students/SuggestionsCount.js
  frontend_nextjs/pages/projects.js
  frontend_nextjs/pages/students.js
Labels: review, frontend

#476 Implement websocket on student delete
  backend/app/models/student.py
  backend/app/routers/students.py
  frontend_nextjs/Components/students/DeletePopUpWindow.js
  frontend_nextjs/Components/students/StudentDetails.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend, backend

#477 remove console.log's
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend

#435 deleted the index page
  frontend_nextjs/Components/Message.js
  frontend_nextjs/Components/NavHeader.js
  frontend_nextjs/pages/index.js
  frontend_nextjs/public/assets/bell-notification.svg
  frontend_nextjs/public/assets/bell.svg
  frontend_nextjs/styles/navheader.css
Labels: frontend, changes requested

#478 add websockets to details project
  backend/app/routers/participations.py
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/pages/project/[project_id].js
Labels: review, frontend, backend

#482 Implement unmached student filter
  backend/app/routers/editions.py
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/Components/students/StudentsFilters.js
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend, backend

#486 edition edit now shows the name & description of the current edition
  frontend_nextjs/Components/settings/EditionSettings.js
Labels: review, frontend

#487 added router to delete project
  backend/app/routers/projects.py
Labels: review, backend

#490 Fixed the websockets student refresh #481
  backend/app/routers/students.py
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend, backend

#491 coaches should see projects
  backend/app/routers/editions.py
  backend/app/routers/projects.py
  backend/app/tests/test_routers/test_projects.py
Labels: review, frontend, backend

#492 Make the projects page responsive.
  frontend_nextjs/Components/projects/ConflictCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/Components/students/StudentsFilters.js
  frontend_nextjs/pages/projects.js
  frontend_nextjs/pages/students.js
  frontend_nextjs/styles/projects.css
  frontend_nextjs/styles/students.css
Labels: review, frontend

#495 Implement websockets for project deletion
  backend/app/routers/projects.py
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/pages/project/[project_id].js
Labels: review, frontend, backend

#464 Show loading while awaiting response from back-end
  frontend_nextjs/Components/email-students/DefaultEmail.js
  frontend_nextjs/Components/email-students/SendEmailsPopUpWindow.js
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/Components/settings/QuestionTag.js
  frontend_nextjs/Components/students/EmailBottomBar.js
  frontend_nextjs/styles/settings.css
Labels: review, frontend

#496 show reason as tooltip in participations projects
  frontend_nextjs/Components/projects/AddStudentModal.js
  frontend_nextjs/Components/projects/ParticipationCard.js
Labels: review, frontend

#505 uses localstorage to avoid not properly selecting the edition (year)
  frontend_nextjs/utils/ApiClient.js
Labels: review, frontend

#502 create new edition uses question-tags from last edition
  backend/app/routers/editions.py
Labels: review, backend

#508 Adding more docstrings
  backend/app/exceptions/base_exception.py
  backend/app/exceptions/edition_exceptions.py
  backend/app/exceptions/emailtemplate_exceptions.py
  backend/app/exceptions/key_exceptions.py
  backend/app/exceptions/participation_exceptions.py
  backend/app/exceptions/permissions.py
  backend/app/exceptions/project_exceptions.py
  backend/app/exceptions/questiontag_exceptions.py
  backend/app/exceptions/suggestion_exception.py
  backend/app/exceptions/user_exceptions.py
  backend/app/exceptions/validator_exeptions.py
  backend/app/routers/auth.py
  backend/app/routers/ddd.py
  backend/app/routers/editions.py
  backend/app/utils/checkers.py
  backend/app/utils/mailsender.py
  backend/app/utils/response.py
  backend/app/utils/tallyhandler.py
  backend/app/utils/websocketmanager.py
Labels: review, backend

#507 docstrings for backend models & routers
  backend/app/models/answer.py
  backend/app/models/edition.py
  backend/app/models/emailtemplate.py
  backend/app/models/participation.py
  backend/app/models/passwordreset.py
  backend/app/models/project.py
  backend/app/models/question.py
  backend/app/models/question_answer.py
  backend/app/models/question_tag.py
  backend/app/models/skill.py
  backend/app/models/student.py
  backend/app/models/suggestion.py
  backend/app/models/tokens.py
  backend/app/models/user.py
  backend/app/routers/emailtemplates.py
  backend/app/routers/participations.py
  backend/app/routers/projects.py
  backend/app/routers/reset_password.py
  backend/app/routers/sendemails.py
  backend/app/routers/skills.py
  backend/app/routers/students.py
  backend/app/routers/suggestions.py
  backend/app/routers/tally.py
  backend/app/routers/user_invites.py
  backend/app/routers/users.py
Labels: review, backend

#510 Improve cypress tests
  frontend_nextjs/cypress/integration/app.spec.js
  frontend_nextjs/cypress/integration/login.spec.js
  frontend_nextjs/cypress/integration/students.spec.js
  frontend_nextjs/package.json
Labels: review, frontend

#517 settings rename change edition to choose edition
  frontend_nextjs/Components/settings/EditionSettings.js
Labels: review, frontend

#520 show email in student details
  frontend_nextjs/Components/students/GeneralInfo.js
Labels: review, frontend

#521 Fixing tally handler
  backend/app/tests/utils_for_tests/QuestionAnswerGenerator.py
  backend/app/utils/tallyhandler.py
  frontend_nextjs/Components/students/StudentDetails.js
  frontend_nextjs/styles/studentDetails.css
Labels: review, frontend, backend

#523 emails only displayed in details
  backend/app/utils/tallyhandler.py
  frontend_nextjs/Components/students/GeneralInfo.js
Labels: review, frontend

#526 reset the add student modal for creating a participation
  frontend_nextjs/Components/projects/AddStudentModal.js
Labels: review, frontend

#519 add new users to the latest edition
  backend/app/routers/editions.py
  backend/app/routers/users.py
  backend/app/tests/test_routers/test_users.py
  backend/app/utils/checkers.py
Labels: review, backend tested, backend

#529 Clean documentation
  backend/app/database.py
  backend/app/exceptions/questiontag_exceptions.py
  backend/app/models/edition.py
  backend/app/models/project.py
  backend/app/models/question_tag.py
  backend/app/models/student.py
  backend/app/models/suggestion.py
  backend/app/models/user.py
  backend/app/routers/auth.py
  backend/app/routers/reset_password.py
  backend/app/routers/sendemails.py
  backend/app/routers/tally.py
  backend/app/routers/users.py
  backend/app/tests/test_utils/test_key_generators.py
  backend/app/utils/mailsender.py
  backend/app/utils/websocketmanager.py
  frontend_nextjs/Components/Auth.js
  frontend_nextjs/Components/projects/AddStudentModal.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/Components/students/SendCustomEmailPopUp.js
  frontend_nextjs/Components/students/SuggestionPopUpWindow.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/utils/string.js
  info/user_manual.md
Labels: documentation, review

#542 Added toasts instead of alerts + questiontag fix
  backend/app/routers/editions.py
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/package.json
  frontend_nextjs/pages/_app.js
  frontend_nextjs/pages/invites/[invitekey].js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/pages/resetpassword/[resetkey].js
  frontend_nextjs/styles/colors.css
Labels: frontend, backend

#543 reset filters
  frontend_nextjs/Components/students/StudentsFilters.js
Labels: review

#544 filters combined with search
  frontend_nextjs/Components/settings/ManageUsers.js
Labels: review

#527 document test_base
  backend/app/tests/test_base.py
  backend/app/tests/utils_for_tests/DataGenerator.py
  backend/app/tests/utils_for_tests/EditionGenerator.py
  backend/app/tests/utils_for_tests/QuestionAnswerGenerator.py
  backend/app/tests/utils_for_tests/SkillGenerator.py
  backend/app/tests/utils_for_tests/StudentGenerator.py
  backend/app/tests/utils_for_tests/UserGenerator.py
Labels: documentation, review

#552 student-coach weergeven met icon
  frontend_nextjs/Components/students/GeneralInfo.js
  frontend_nextjs/Components/students/StudentDetails.js
  frontend_nextjs/Components/students/StudentListelement.js
  frontend_nextjs/public/assets/student-coach.svg
  frontend_nextjs/styles/studentDetails.css
  frontend_nextjs/styles/studentListelement.css
  frontend_nextjs/styles/students.css
Labels: review

#499 conflicts solving screen
  backend/app/routers/editions.py
  backend/app/routers/participations.py
  frontend_nextjs/Components/projects/ConflictCard.js
  frontend_nextjs/Components/projects/ConflictsPopUpWindow.js
  frontend_nextjs/Components/projects/ParticipationCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/styles/projects.css
  frontend_nextjs/utils/ApiClient.js
Labels: review

#554 Automatic search for students
  frontend_nextjs/Components/students/SearchSortBar.js
  frontend_nextjs/styles/globals.css
Labels: review, frontend

#550 removed whitespace under email bottom bar + fixed skills position bug
  frontend_nextjs/Components/students/GeneralInfo.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/Components/students/StudentListelement.js
  frontend_nextjs/pages/students.js
Labels: review

#548 projects filter & search
  frontend_nextjs/Components/projects/ProjectsList.js
Labels: review, frontend

#556 clear selected on filters change
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
Labels: review

#559 delete student doesn't dissapear
  frontend_nextjs/Components/students/StudentListAndFilters.js
Labels: review, frontend

#437 Add project
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/pages/_app.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/styles/addProject.css
  frontend_nextjs/styles/requiredSkillSelector.css
  frontend_nextjs/utils/ApiClient.js
  frontend_nextjs/utils/inputchecker.js
Labels: review, frontend

#561 Removed users from project
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/routers/ddd.py
  backend/app/routers/projects.py
  backend/app/tests/test_routers/test_projects.py
  frontend_nextjs/.gitignore
  frontend_nextjs/Components/projects/AdminCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/SkillSelector.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
Labels: review, frontend, backend

#562 Deleted the endpoint
  backend/app/routers/editions.py
Labels: review, backend

#563 fix email bottom bar and some layout fixes
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/styles/students.css
Labels: review

#572 changed access control from admin to coach
  backend/app/routers/skills.py
  backend/app/tests/test_routers/test_skills.py
Labels: review, backend

#574 websockets required skills in projects
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
Labels: review, frontend

#573 code cleanup and documentation students
  frontend_nextjs/Components/students/DecisionPopUpWindow.js
  frontend_nextjs/Components/students/EmailBottomBar.js
  frontend_nextjs/Components/students/GeneralInfo.js
  frontend_nextjs/Components/students/SearchSortBar.js
  frontend_nextjs/Components/students/StudentDetails.js
  frontend_nextjs/Components/students/StudentList.js
  frontend_nextjs/Components/students/StudentListAndFilters.js
  frontend_nextjs/Components/students/StudentListelement.js
  frontend_nextjs/Components/students/StudentsFilters.js
  frontend_nextjs/Components/students/SuggestionPopUpWindow.js
  frontend_nextjs/pages/students.js
Labels: review

#576 make skill search case-insensitive
  frontend_nextjs/Components/projects/SkillSelector.js
Labels: review

#581 cleanup and documentation email students
  frontend_nextjs/Components/email-students/DefaultEmail.js
  frontend_nextjs/Components/email-students/SendEmailsPopUpWindow.js
Labels: review

#582 documentation projects
  frontend_nextjs/Components/projects/AddStudentModal.js
  frontend_nextjs/Components/projects/ConflictCard.js
  frontend_nextjs/Components/projects/ConflictsPopUpWindow.js
  frontend_nextjs/Components/projects/ParticipationCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/Components/projects/SkillCard.js
  frontend_nextjs/Components/projects/SkillSelector.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/pages/projects.js
  frontend_nextjs/utils/skillselector.js
Labels: review

#579 remove /editions/{year}/users endpoint
  backend/app/models/edition.py
  backend/app/routers/editions.py
  backend/app/tests/test_routers/test_editions.py
Labels: review, backend

#580 make project_id responsive
  frontend_nextjs/pages/project/[project_id].js
Labels: review, frontend

#584 settings documentation
  frontend_nextjs/Components/settings/ChangeEmail.js
  frontend_nextjs/Components/settings/ChangeName.js
  frontend_nextjs/Components/settings/ChangePassword.js
  frontend_nextjs/Components/settings/ChangeTheme.js
  frontend_nextjs/Components/settings/CreateEdition.js
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/Components/settings/QuestionTag.js
  frontend_nextjs/Components/settings/QuestionTags.js
  frontend_nextjs/Components/settings/SettingCards.js
  frontend_nextjs/Components/settings/UserTr.js
  frontend_nextjs/pages/settings.js
Labels: review

#585 remove localstorage `api_year` on logout
  frontend_nextjs/Components/NavHeader.js
Labels: review, frontend

#592 toast messages question tags
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/settings/QuestionTag.js
  frontend_nextjs/Components/settings/QuestionTags.js
Labels: review

#589 documentation components
  frontend_nextjs/Components/Auth.js
  frontend_nextjs/Components/ErrorPage.js
  frontend_nextjs/Components/Hint.js
  frontend_nextjs/Components/LoadingPage.js
  frontend_nextjs/Components/Message.js
  frontend_nextjs/Components/NavHeader.js
Labels: changes requested

#567 Show loading while awaiting response from back-end
  backend/app/routers/auth.py
  docker-compose.yml
  frontend_nextjs/Components/email-students/DefaultEmail.js
  frontend_nextjs/Components/email-students/SendEmailsPopUpWindow.js
  frontend_nextjs/Components/settings/ChangeName.js
  frontend_nextjs/Components/settings/ChangePassword.js
  frontend_nextjs/Components/settings/CreateEdition.js
  frontend_nextjs/Components/settings/EditionSettings.js
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/pages/invites/[invitekey].js
  frontend_nextjs/pages/login.js
  frontend_nextjs/pages/resetpassword/[resetkey].js
Labels: frontend, changes requested

#575 tallyhandler and ddd tests
  backend/app/tests/test_data/tallyform
  backend/app/tests/test_routers/test_ddd.py
  backend/app/tests/test_utils/test_tallyhandler.py
  backend/app/utils/tallyhandler.py
Labels: review

#578 Extract skills from tally form
  backend/app/models/question_answer.py
  backend/app/routers/editions.py
  backend/app/routers/students.py
  backend/app/tests/utils_for_tests/QuestionAnswerGenerator.py
  backend/app/utils/tallyhandler.py
Labels: review, backend

#595 Deleting question tags does not work properly
  backend/app/routers/editions.py
Labels: review, backend

#593 Tests for the participations router
  backend/app/routers/participations.py
  backend/app/tests/test_base.py
  backend/app/tests/test_routers/test_editions.py
  backend/app/tests/test_routers/test_participations.py
Labels: review, backend

#596 add user to edition only in approve
  backend/app/routers/users.py
  frontend_nextjs/Components/students/SearchSortBar.js
Labels: review

#600 Add documentation
  frontend_nextjs/Components/Auth.js
  frontend_nextjs/Components/WebsocketProvider.js
  frontend_nextjs/Components/refreshTokenHandler.js
  frontend_nextjs/pages/_app.js
  frontend_nextjs/pages/api/auth/[...nextauth].js
Labels: documentation, review

#577 Project details and new project layout fix
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/pages/new-project.js
  frontend_nextjs/pages/project/[project_id].js
  frontend_nextjs/styles/globals.css
  frontend_nextjs/styles/projectDetails.css
  frontend_nextjs/styles/projects.css
  frontend_nextjs/utils/inputchecker.js
Labels: review, frontend

#598 changed page numbering
  frontend_nextjs/Components/projects/ConflictsPopUpWindow.js
  frontend_nextjs/public/assets/left.svg
  frontend_nextjs/public/assets/right.svg
  frontend_nextjs/styles/projects.css
Labels: review, frontend

#602 make primary and secondary bold
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/styles/globals.css
Labels: review, frontend

#604 removed logs
  frontend_nextjs/Components/projects/ParticipationCard.js
  frontend_nextjs/Components/projects/ProjectCard.js
  frontend_nextjs/Components/projects/RequiredSkillSelector.js
  frontend_nextjs/utils/ApiClient.js
Labels: review

#568 Change email
  backend/app/api.py
  backend/app/exceptions/key_exceptions.py
  backend/app/exceptions/user_exceptions.py
  backend/app/models/user.py
  backend/app/routers/change_email.py
  backend/app/routers/users.py
  backend/app/utils/keygenerators.py
  backend/app/utils/mailsender.py
  deploy-docker-compose.yml
  docker-compose.yml
  frontend_nextjs/Components/settings/ChangeEmail.js
  frontend_nextjs/Components/settings/ManageUsers.js
  frontend_nextjs/pages/_app.js
  frontend_nextjs/pages/change/[changekey].js
  frontend_nextjs/pages/invites/[invitekey].js
  frontend_nextjs/styles/login.css
  frontend_nextjs/utils/ApiClient.js
  info/user_manual.md
  test-docker-compose.yml
Labels: review, frontend, backend

#601 slight studentlistelement improvement for smaller screens
  frontend_nextjs/Components/students/StudentListelement.js
  frontend_nextjs/styles/studentListelement.css
  frontend_nextjs/styles/students.css
Labels: changes requested

#607 fix notifications bug + solved unresolved reference
  frontend_nextjs/styles/colors.css
  frontend_nextjs/styles/globals.css
Labels: review, frontend

#603 More editions router tests
  backend/app/routers/editions.py
  backend/app/tests/test_routers/test_editions.py
  backend/app/tests/test_routers/test_question_tags.py
Labels: review, backend

#608 coaches are not permitted to make decisions
  frontend_nextjs/Components/students/StudentDetails.js
Labels: review, frontend

#597 projects improved responsiveness
  frontend_nextjs/Components/projects/ProjectsList.js
  frontend_nextjs/pages/projects.js
  frontend_nextjs/styles/projects.css
Labels: frontend, changes requested

#610 changed width in css
  frontend_nextjs/styles/manageusers.css
Labels: review, frontend

#615 User manual projects and students
  info/screenshots/add-to-project.png
  info/screenshots/navigation_component.png
  info/screenshots/new-project.png
  info/screenshots/projects-selected.png
  info/screenshots/projects.png
  info/screenshots/resolve-conflicts.png
  info/screenshots/send-emails.png
  info/screenshots/student-details.png
  info/screenshots/students.png
  info/user_manual.md
  info/user_manual.pdf
Labels: documentation, review
